<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#1976D2" />
    <meta name="msapplication-navbutton-color" content="#1976D2">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1976D2">
    <title>ToDoList</title>
    <script src="https://kit.fontawesome.com/b22ce6914a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./public/stylesheets/all.css">
</head>
<body>
    <div class="todoapp" id="app">
        <div class="todoapp-head">
            <ul>
                <li :class="{active: visibility == 'all'}" @click="visibility = 'all'">
                    <i class="fas fa-list-ul"></i>ALL
                </li>
                <li :class="{active: visibility == 'tobedone'}" @click="visibility = 'tobedone'">
                    <i class="far fa-calendar"></i>TO BE DONE
                </li>
                <li :class="{active: visibility == 'completed'}" @click="visibility = 'completed'">
                    <i class="fas fa-calendar-check"></i>COMPLETED
                </li>
            </ul>
        </div>
        <div class="todoapp-body">
            <transition-group tag="ul" class="todo-items-container">
                <li class="todo-item" v-cloak v-for="todo in filterTodos" :key="todo.id" @click.self="editTodo(todo)">
                    <input type="checkbox" class="todo-checked" v-model="todo.completed" :id="todo.id">
                    <label :for="todo.id" class="custom-checkbox"></label>
                    <div class="todo-title" @click.self="editTodo(todo)">{{ todo.title }}</div>
                    <div class="delete-btn" @click="deleteTodo(todo)">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
            </transition-group>
        </div>

        <transition name="expand" v-cloak>
            <div class="edit-todo" v-show="edit_mode">
                <input type="text" class="title" v-model="edit_todo.title" spellcheck="false" placeholder="What needs to be done?">
                <textarea name="" rows="10" class="content" v-model="edit_todo.content" spellcheck="false" placeholder="input content..."></textarea>
                <div class="edit-footer">
                    <button class="edit-btn" @click="addTodo" :disabled="!edit_todo.title" v-show="edit_mode == 'add'">{{edit_mode.toUpperCase()}}</button>
                    <button class="edit-btn" @click="updateTodo" :disabled="!edit_todo.title" v-show="edit_mode == 'save'">{{edit_mode.toUpperCase()}}</button>
                    <button class="cancel-btn" @click="resetEditTodo">CANCEL</button>
                </div>
            </div>
        </transition>

        <div class="transparent-bg" v-cloak v-show='edit_mode'></div>

        <div class="add-btn" @click="edit_mode = 'add'">
            <i class="fas fa-plus"></i>
        </div>
    </div>

<script src="./app.js"></script>
</body>
</html>