/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1976D2;
}

.todoapp {
  position: relative;
  width: 450px;
  max-width: 100%;
  border: 1px solid #BDBDBD;
  height: 500px;
  max-height: 100%;
  background: #fff;
  border-radius: 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.09) 15%, transparent 25%);
}

.todoapp-head {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.todoapp-head ul {
  display: flex;
}
.todoapp-head ul li {
  width: 33.33%;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #BDBDBD;
  cursor: pointer;
  background: #E0E0E0;
  overflow: hidden;
  font-size: 12px;
}
.todoapp-head ul li:not(:last-child) {
  border-right: 1px solid #BDBDBD;
}
.todoapp-head ul li.active {
  background: #fff;
  border-bottom: 0;
}

.todoapp-body {
  padding: 15px;
  overflow: auto;
  height: 500px;
  max-height: 90%;
}
.todoapp-body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.todoapp-body::-webkit-scrollbar-track {
  background: transparent;
}
.todoapp-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.todoapp-body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.todo-items-container {
  display: flex;
  flex-direction: column-reverse;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
.todo-item:hover {
  background: rgba(0, 0, 0, 0.03);
  background-image: linear-gradient();
}
.todo-item .todo-checked {
  display: none;
}
.todo-item .todo-checked:checked + .custom-checkbox:before {
  display: block;
}
.todo-item .todo-checked:checked + .custom-checkbox {
  background: #1DE9B6;
  border-color: #1DE9B6;
}
.todo-item .custom-checkbox {
  flex-shrink: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.todo-item .custom-checkbox:before {
  display: none;
  content: "";
  width: 5px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 4px;
  left: 8px;
  transform: rotate(40deg);
}
.todo-item .todo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-item .delete-btn {
  margin-left: auto;
  color: #1DE9B6;
  padding: 8px;
  cursor: pointer;
}

.add-btn {
  width: 65px;
  height: 65px;
  background: #1976D2;
  border-radius: 50%;
  color: #fff;
  line-height: 65px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}
.add-btn:hover {
  background: #1DE9B6;
}

.edit-todo {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 15px;
  border: 1px solid #BDBDBD;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 314px;
}
.edit-todo .title, .edit-todo .content {
  padding: 12px 8px;
  margin-bottom: 20px;
}
.edit-todo .title {
  height: 35px;
}
.edit-todo .content {
  resize: none;
}
.edit-todo .edit-footer {
  display: flex;
}
.edit-todo .edit-footer .edit-btn, .edit-todo .edit-footer .cancel-btn {
  width: 50%;
  padding: 8px 10px;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.edit-todo .edit-footer .edit-btn {
  background: #29B6F6;
}
.edit-todo .edit-footer .edit-btn:disabled {
  opacity: 0.5;
}
.edit-todo .edit-footer .cancel-btn {
  background: #ef5350;
}

.transparent-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.v-enter-active, .v-leave-active {
  transition: opacity 0.7s;
}

.v-enter, .v-leave-to {
  opacity: 0;
}

.height-enter-active, .height-leave-active {
  transition: all 0.7s;
}

.height-enter, .height-leave-to {
  height: 0;
  opacity: 0;
}

.height-enter-to, .v-enter-to {
  opacity: 1;
}

[v-cloak] {
  display: none;
}

/*# sourceMappingURL=all.css.map */
